.ol-mouse-position {
            background-color: rgba(0, 60, 136, .4);
            border-radius: 4px;
            color: #FFFFFF;
            padding: 1px 5px;
        }
		
        
        
        /* контрол масштаба сдвигаем вправо */
        .ol-scale-line {
            left: auto;
            right: 8px;
			bottom: 25px;
			
        }
        
        
        /* полоску масштабов заливаем более заметным цветом */
        .ol-zoomslider {
            background-color: rgba(0, 60, 136, .4);
        }
        
        .ol-zoomslider:hover {
            background-color: rgba(0, 60, 136, .6);
        }
        
        .ol-zoomslider button {
            background-color: rgba(255, 255, 255, .8);
        }
        
        .ol-zoomslider button:hover {
            background-color: rgba(255, 255, 255, 1);
        }